<h1 class="text-center">Editar Compra</h1><br>
<%= render 'mudar_status'%>

<%= render 'form', compra: @compra %>
<div class="text-center">
	<%= link_to 'Cancelar', compras_path, class: "btn btn-link" %>
</div>
