/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";

@font-face {
  font-family: 'Roboto-Light';
  src: url('fontes/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fontes/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('fontes/Lato-Bold.ttf') format('truetype');
}

body {
	font-family: 'Roboto-Regular';
	color: #45433D;
}

a:hover, a:focus, a:active {
	background-color: transparent;
	color: #FAA33F;
}

.btn-link:hover {
	color: #FAA33F;
}

.btn-primary {
	background-color: #FAA33F;
	border-color: #FAA33F;
}


.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active[disabled]{
	background-color: darken(#FAA33F, 5%)  !important;
	border-color: darken(#FAA33F, 5%)  !important;

}

.btn-primary.btn-outline {
  color: #FAA33F !important;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
	color: white !important;
}

.btn-outline {
  color: inherit;
  border-width: 2px !important;
  background-color: transparent;
  transition: all .5s;
}

.form{
	padding: 50px 50px 10px 50px;
}

.form-control{
	box-shadow: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid rgba(77, 79, 92, 0.5) !important;
	border-top: 1px !important;
	border-left: none !important;
	border-right: none !important;
}

.form-control:focus {
	border-color: rgba(77, 79, 92, 1) !important;
}


// MARGINS - TOP

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.no-margins{
	margin: 0px;
}

.no-margins-top{
	margin-top: 0px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}


// TIPOGRÃFIA

.font-roboto-l {
  font-family: 'Roboto-Light';
}

.font-roboto {
  font-family: 'Roboto-Regular';
}

.font-lato {
  font-family: 'Lato-Bold';
}

.color-primary{
	color: #FAA33F;
}


// FINALIZAR COMPRA

.wizard {
  margin: 0px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 60px;
  height: 60px;
  line-height: 55px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 22px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #FAA33F;
  
}
.wizard li.active span.round-tab i{
  color: #FAA33F;
}

span.round-tab:hover {
  color: #45433D;
  border: 2px solid #45433D;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #FAA33F;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #FAA33F;
}

.wizard .nav-tabs > li a {
  width: 60px;
  height: 60px;
  margin: 0px auto 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 40px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}

// CHECKROUND

.radio { 
  display: block;
  position: relative;
  padding-top: 5px;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: initial;
  color: #45433D;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff ;
  border-color: #45433D;
  border-style:solid;
  border-width: 1px;
  border-radius: 50%;
}


.radio input:checked ~ .checkround {
  background-color: #fff;
  border-color: #FAA33F;
}

.checkround:after {
  content: "";
  position: absolute;
  display: none;

}

.radio input:checked ~ .checkround:after {
  display: block;
}

.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FAA33F;
}


.alert-warning {
  border-color: #FAA33F;
  color: #FAA33F;
}