// Place all the styles related to the produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-produto{
	display: block;
	max-width: 220px;
	min-height: 350px;
	height: auto;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.31);
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.card-produto{
	img {
		margin-left: auto;
		margin-right: auto;
	}

	.descricao {
		padding: 10px;
	}

	.nome {
		font-family: 'Roboto-Regular';
		color: #FAA33F;
		font-size: 15px;
	}

	.preco {
		font-family: 'Roboto-Light';
		color: #45433D;
		font-size: 20px;
	}
}

@media screen and (min-width: 550px)  and (max-width: 768px) {
	.col-xs-12 {
		width: 50% !important;
	}
}


.modal-body {
    padding-bottom: 40px !important;
}


.form-qtde{
	box-shadow: none !important;
	border-radius: 3px 0px 0px 3px !important;
	border: 1px solid rgba(77, 79, 92, 0.5) !important;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
}

.form-qtde:focus {
	border-color: rgba(77, 79, 92, 1) !important;
}

.carrinho-produto {
	border: 1px solid rgb(127, 0, 0);
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 1.0rem;
  border-radius: 3px;
  display: flex;
  margin: 10px 0;

	.carrinho-produto-body {

    .carrinho-produto-img {
      width: 30%;
      height: auto;
      display: block;
      float: left;
    }

    .carrinho-produto-info {
      width: 70%;
      height: auto;
      display: block;
      float: left;
      padding: 0 1.5rem;
    }
	}
}

.content-price-carrinho{
	display: block;
	float: left;
	height: 100%;
	padding: 6px 12px;
	font-size: 16px;
	
	.price-total{
	}
}

.filtros-text-size{
	font-size: 14px !important;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #FAA33F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert-add-item{
	background: #FAA33F;
	text-align: center;
	padding: 1.2rem;
	position: absolute;
	width: 50%;
	left: 25%;
	border-radius: 50px;
	z-index: 1;

	span {
		color: white;
		font-size: 16px;
	}
}

.qtd-carrinho {
	position: absolute;
	margin-top: 15px;
	background: #FAA33F;
	border-radius: 100%;
	color: white;
	width: 22px;
	height: 22px;
	text-align: center;
	padding-top: 2px;
	margin-left: -10px;
	font-weight: 600;
}

.min-td-img{
	min-width: 70px !important;
}