// Place all the styles related to the produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-produto{
	display: block;
	max-width: 220px;
	min-height: 350px;
	height: auto;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.31);
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.card-produto{
	img {
		margin-left: auto;
		margin-right: auto;
	}

	.descricao {
		padding: 10px;
	}

	.nome {
		font-family: 'Roboto-Regular';
		color: #FAA33F;
		font-size: 15px;
	}

	.preco {
		font-family: 'Roboto-Light';
		color: #45433D;
		font-size: 20px;
	}
}

@media screen and (min-width: 550px)  and (max-width: 768px) {
	.col-xs-12 {
		width: 50%
	}
}


.modal-body {
    padding-bottom: 40px !important;
}


.form-qtde{
	box-shadow: none !important;
	border-radius: 3px 0px 0px 3px !important;
	border: 1px solid rgba(77, 79, 92, 0.5) !important;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
}

.form-qtde:focus {
	border-color: rgba(77, 79, 92, 1) !important;
}

.carrinho-produto {
	border: 1px solid rgb(127, 0, 0);
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 1.0rem;
  border-radius: 3px;
  display: flex;
  margin: 10px 0;

	.carrinho-produto-body {

    .carrinho-produto-img {
      width: 30%;
      height: auto;
      display: block;
      float: left;
    }

    .carrinho-produto-info {
      width: 70%;
      height: auto;
      display: block;
      float: left;
      padding: 0 1.5rem;
    }
	}
}