<p>Olá, <%= @resource.nome %>!</p>

<p>Um link para alterar sua senha foi solicitado. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
