<div class="row">
	<div class="col-xs-6 col-xs-offset-3 text-center m-t-lg">
		<i class="fa fa-exclamation-triangle fa-5x color-primary"></i>
		<h1 class="m-b-lg">Acesso não permitido</h1>
		<h4 class="text-justify">O conteúdo dessa página só pode ser feito por funcionários! Faça login como usuário funcionário ou volte para a sua navegação normal.</h4>

		<%= link_to 'Voltar ao catálogo...', catalogo_produtos_path, class: "btn btn-link" %>
	</div>

</div>